.orange-gradient {
  background: linear-gradient(to left, #ff4e50, #ffb618) !important;
}

.orange-gradient-reversed {
  background: linear-gradient(to right, #ff4e50, #ffb618) !important;
}

.peach-gradient {
  background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}

.peach-gradient-reversed {
  background: linear-gradient(335deg, #ffd86f, #fc6262) !important;
}

.wiretap-gradient {
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wiretap-gradient-angled {
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(40deg, #f27121, #e94057, #8a2387); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    40deg,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wiretap-gradient-reversed {
  background: #f27121; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f27121, #e94057, #8a2387); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wiretap-gradient-halved {
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #f27121
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.kingyna-gradient {
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(40deg, #fdbb2d, #b21f1f, #1a2a6c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    40deg,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.kingyna-gradient-reversed {
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(320deg, #fdbb2d, #b21f1f, #1a2a6c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    320deg,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.soundcloud-gradient {
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.soundcloud-gradient-reversed {
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f83600, #fe8c00); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white {
  background: white;
}
.sublimelight-gradient {
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(40deg, #6a82fb, #fc5c7d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    40deg,
    #6a82fb,
    #fc5c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sublimelight-gradient-reversed {
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(120deg, #6a82fb, #fc5c7d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    120deg,
    #6a82fb,
    #fc5c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.kyoo-dark {
  background: #ff7100; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff7100, #5ec774); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ff7100,
    #5ec774
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
